body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: block;
    justify-content: center;
}

p {
    color: #340483;
    font-weight: bold;
}

header{
   width: 100%;
    background-color: #157de68b;
    padding: 20px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#habit-blocks {
    clear: both;
    padding: 20px;
    box-sizing: border-box;
}

.habit-block {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #157de68b;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.friendContainer{
    background-color: rgba(18, 1, 3, 0.847);
    text-align: center;
    width: 425px;
    height: 300px;
    border-radius: 25px;
}

#friendsForm{
    text-align: center;
    justify-content: center;
}


.friendsTitle{
    color: rgba(240, 124, 135, 0.847);
}

#createhabForm{
    background-color: #f96756;
    text-align: center;
    width: 190px;
    height: 300px;
}

.habDuration{
    width: 19px;
    height: 30px;
}

/* Rewards Page Specific Styles */
#user-balance {
    font-size: 18px;
    margin-bottom: 20px;
    color: #340483;
    font-weight: bold;
}

#show-themes-button {
    margin-bottom: 10px;
}

#color-themes {
    display: block; /* Make the themes visible */
    margin-top: 10px;
}

.theme-button {
    text-align: center;
    width: 425px;
    height: 300px;
    border-radius: 25px;
    padding: 8px 12px;
    margin: 5px;
    border: 2px solid #000;  /* Black border to make the buttons visible */
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 50px;
}
body.theme-pink {
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
  }
  
  body.theme-blue {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
  }
  
  body.theme-green {
    background: linear-gradient(to right, #56ab2f, #a8e063);
  }
  
  body.theme-purple {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
  }
  
  body.theme-orange {
    background: linear-gradient(to right, #f7971e, #ffd200);
  }
  
  body.theme-gray {
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
  }

body[class^="theme-"] {
    transition: background 0.4s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover !important;
}
  