body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.friendContainer{
    background-color: rgba(240, 124, 135, 0.847);
    text-align: centre;
    width: 425px;
    height: 300px;
    border-radius: 25px;
}

#friendsForm{
    text-align: center;
    justify-content: center;
}


.friendsTitle{
    color: rgba(240, 124, 135, 0.847);
}

#createhabForm{
    background-color: #f96756;
    text-align: centre;
    width: 190px;
    height: 300px;
}

.habDuration{
    width: 19px;
    height: 30px;
}

body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}


body.pink-theme {
    background-color: lightpink;
    color: white;
}

body.pink-theme button {
    background-color: deeppink;
    color: white;
}

body.blue-theme {
    background-color: lightblue;
    color: white;
}

body.blue-theme button {
    background-color: darkblue;
    color: white;
}

body.green-theme{
    background-color: green;
    color: white;
}

body.green-theme button{
    background-color: darkgreen;
    color: white;
}

body.purple-theme{
    background-color: purple;
    color: white;
}

body.purple-theme button{
    background-color: darkviolet;
    color: white;
}

body.orange-theme{
    background-color: orange;
    color: white;
}

body.orange-theme button{
    background-color: darkorange;
    color: white;
}

body.grey-theme{
    background-color: grey;
    color: white;
}

body.grey-theme button{
    background-color: darkgrey;
    color: white;
}